/**description**/
.description {
  background-color: #fff;
  display: flex;
  position: relative;
  align-items: center;
  overflow: hidden;
  margin: 0;
  padding: 100px 0;
}
.two-columns {
  width: 80%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
  color: #2f80ed;
  margin: 0;
}
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}
.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  padding-bottom: 30px;
}
.two-columns__paragraph:last-child {
  padding-bottom: 0;
}
.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}
