/**header**/

.header {
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  margin: auto;
  background-color: #f2f2f2;
  overflow: hidden;
}
.header__title {
  line-height: 96px;
  width: 730px;
  font-size: 102px;
  font-weight: 600;
  z-index: 2;
  margin-left: 64px;
  margin-top: 146px;
}
.header__subtitle {
  line-height: 25px;
  font-size: 18px;
  width: 388px;
  font-weight: normal;
  z-index: 2;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 30px;
  left: 64px;
}
.header__link {
  line-height: 25px;
  width: 388px;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}
.header__square-pic {
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
}
.header__main-illustration {
  width: 765px;
  height: 608px;
  z-index: 1;
  margin: 0;
  position: absolute;
  right: 0;
  bottom: 0;
}
