.resources{
  background-color: #fff;
  padding-top: 100px;
  padding-bottom: 217px;
  margin: 0 auto;
}
.section-title{
  width: 60%;
  margin-bottom: 20px;
  padding: 0;
}
.section-subtitle{
  width: 60%;
  margin-bottom: 80px;
  padding: 0;
}
.logo-zone{
  width: 1100px;
  margin: 0 auto;
  padding: 0;
}
.resources__image {
  width: 270px;
  height: 38px;
  padding: 0;
}
.resources__link{
  width: 270px;
  height: 38px;
  margin: 0;
  padding: 0;
}
