
.techniques{
  background-color: #fff;
  width: 80%;
  padding: 100px 0;
  margin: 0 auto;
}
.section-title{
  Line-height: 1.15;
  font-size: 60px;
  font-weight:600;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.section-subtitle{
  Line-height: 34px;
  font-size: 24px;
  font-weight:normal;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}
.cards{
  padding: 0;
  width: 920px;
  display: grid;
  grid-template-columns: 240px 240px 240px;
  row-gap: 0;
  column-gap: 100px;
  text-align: center;
  margin: 0 auto;
}
.cards__image{
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin: 60px 40px 43px 40px;
  padding: 0;
}
.cards__title{
  Line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  padding: 0;

}
.cards__description{
  Line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
